* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    min-height: 100%;
}

body {
    font-family: Georgia, serif;
    background-color: #eee5d4;
    color: #111;
}

.dashboard-layout {
    display: flex;
    min-height: 100vh;
}

/* Sidebar styles */
.sidebar {
    width: 255px;
    background-color: #6B5437;
    padding: 24px 10px;
    border-right: 1px solid #ddd;
    min-height: 100vh;
}

.sidebar-header {
    margin-bottom: 28px;
    padding: 0 10px;
}

/* Budget logo color brown */
.logo {
    margin: 0;
    font-family: Georgia, serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.1;
    color: #A19A8C;
}
/* Lens logo color beige */
.logo span {
    color: #C9B896;
}

.username {
    margin: 4px 0 0;
    font-size: 14px;
    color: #7a7a7a
}

/* Sidebar navigation styles */
.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.nav-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 12px;
    color: #222;
    padding: 10px 12px;
    border-radius: 10px;
    font-size: 16px;
}

.nav-item:hover {
    background-color: #C9B896;
}

/*Highlights active tab*/
.nav-item.active {
    background-color: #C9B896;
    font-weight: 600;
    color: #000;
    padding-left: 8px;
}

.nav-icon {
    width: 14px;
    text-align: center;
    font-size: 17px;
}

/* The meat and potatoes of the layout */
.main-content {
    flex: 1;
    padding: 90px 38px 40px;
} 

.dashboard-header {
    margin-bottom: 22px;
}

.dashboard-header h1{
    margin: 0; 
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
}

.dashboard-header p {
    margin: 6px 0 0;
    color: #7b7b7b;
    font-size: 16px;
}